name: VitePress Check

on:
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
          run_install: true # false + manual install if node required

      # - name: Setup Node.js environment
      #   uses: actions/setup-node@v6.0.0
      #   with:
      #     node-version: 23
      #     cache: pnpm

      - name: VitePress build
        run: pnpm run build
